@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body{
    background-image: url(./img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
}

#div_cabecalho{
    flex-direction: row;
    padding-left: 50px;
}

#div_container{
    padding: 50px;
    display: flex;
    flex-direction: row;
    gap: 100px;
    color: #ffffff;
}

#div_inputs{
    background-color: #2a4f3697;
    border-radius: 50px;
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

input{
    border-radius: 50px;
    width: 150px; 
    height: 30px;
}

#div_exibicao{
    background-color: #2a4f3697;
    border-radius: 50px;
    width: 35%;
    display: flex;
    align-items: center;
    flex-direction: column;
}